@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'OpenSans';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(assets/fonts/OpenSans-Light.ttf) format('truetype');
    }

    @font-face {
        font-family: 'OpenSans';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(assets/fonts/OpenSans-Regular.ttf) format('truetype');
    }

    @font-face {
        font-family: 'OpenSans';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(assets/fonts/OpenSans-Bold.ttf) format('truetype');
    }

    html {
        font-family: "OpenSans", system-ui, sans-serif;
    }

    body {
        @apply font-sans;
    }
}