<section class="flex flex-row md:flex-col justify-between bg-blue-baby w-full md:w-45 h-full px-2.5 py-2 md:px-0 md:py-4 rounded-xl border-2 border-blue-powder">
    <nav class="flex flex-row md:flex-col gap-4 md:pl-4">
        <!-- Each navItems -->
        @for (item of navItems; track item.route) {
        <a class="flex items-center justify-center md:justify-start gap-x-2 font-bold text-primary {{ item.disabled ? 'text-secondary font-normal pointer-events-none' : '' }}"
            routerLink={{item.route}} routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="{{ item.icon }}" alt="home">
            <span class="hidden md:inline text-sm">
                {{item.name}}
            </span>
        </a>
        }
    </nav>

    <section class="md:pl-5 flex flex-row md:flex-col gap-2 md:gap-10">
        <div class="flex items-center md:items-start gap-2">
            <img class="object-contain" src="assets/images/john.png" alt="User Avatar">
            <div class="flex flex-col gap-y-0.5">
                <p class="leading-tight font-bold text-primary text-sm">John <br /> Smith</p>
                <span class="hidden md:inline text-xs text-secondary">
                    Principal
                </span>
            </div>
        </div>

        <div class="flex flex-col justify-center gap-y-2 px-1">
            <button class="flex items-center justify-center md:justify-start gap-x-2 text-secondary">
                <img src="assets/images/sign-out.svg" alt="signout">
                <span class="hidden md:inline text-sm">
                    Sign Out
                </span>
            </button>
        </div>
    </section>
</section>